.icon-color {
  color: rgb(248, 149, 29);
}

.button-color {
  background-color: rgb(248, 149, 29) !important;
}

.button-link {
  color: white !important;
}

.custom-media-content {
  overflow: hidden;
}

.profile-page-table td {
  border: none !important;
}
